---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.inner {
    max-width: 1920px;
  }

  h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, table, address { margin-top: 0; margin-bottom: 0.75rem; }

  hr { height: 0; margin: 2.25rem 0; padding: 0; border: 0; border-bottom: 2px solid #bbb; }